/* Basic Styling */
a {
  color: #070c10
}

body {
  background: #fdfdfd;
  color: #353735;
  padding: 1em;
  line-height: 1.8em;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  word-wrap: break-word
}

:focus {
  outline: none
}

::selection {
  background-color: #757575
}

details {
  margin: 1em 0
}

summary::-webkit-details-marker {
  font-size: 0.8em;
  margin-right: 0.8em
}

h2 {
  font-size: 1.2em;
  margin-top: 50px
}

.header,
.wrapper {
  width: 100%;
  margin: 0 auto 30px;
  max-width: 50em;
  padding-left: 15px;
  padding-right: 15px
}

.no-underline {
  text-decoration: none
}

.as-text {
  display: inline;
  font-size: inherit
}

a,
header,
main {
  box-sizing: border-box
}

a:hover {
  text-decoration: none;
  background: #353735;
  color: #fdfdfd
}

button {
  padding: 5px 6px 3px;
  border-radius: 2px;
  border: 0;
  background: transparent;
  color: #353735;
  background-color: #efefef;
  cursor: pointer
}

/* Dark Mode */
.dark-mode {
  color: #fdfdfd;
  background: #212121
}

.dark-mode a {
  color: #fafff7
}

.dark-mode a:hover {
  background: #fdfdfd;
  color: #1b1b1b
}

.dark-mode button {
  color: #fdfdfd;
  background-color: #303030;
  user-select: none;
}

.dark-mode button::before {
  content: 'Not '
}
